<% layout ("/layouts/boilerplate") %>
<body>
  <h1 style="text-align: center">Edit Listing</h1>
  <div class="row">
    <div class="col-md-8">
      <form
        action="/listings/<%= listing._id %>?_method=PUT"
        method="post"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-2">
          <label for="title" class="form-label">Description</label>
          <input
            type="text"
            value="<%= listing.title %>"
            name="listing[title]"
            class="form-control"
            required
          />

          <div class="invalid-feedback">Please Enter a Catchy Title.</div>
          <div class="valid-feedback">It's a Catchy Title.</div>
        </div>
        <div class="mb-2">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required>
<%= listing.description %></textarea
          >
          <div class="invalid-feedback">Please Describe in few lines.</div>
        </div>
        <div class="mb-2">
          <p>Original Image</p>
          <img
            id="imgg"
            src="<%=OriginalUrl%>"
            alt="Original image"
            srcset=""
          />
        </div>
        <div class="mb-2">
          <label for="image" class="form-label">Upload New Image</label>
          <input
            type="file"
            name="listing[image]"
            value="<%= listing.image %>"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="mb-2 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="text"
              name="listing[price]"
              value="<%= listing.price %>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">The Price must be there.</div>
          </div>
          <div class="mb-2 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              name="listing[location]"
              value="<%= listing.location %>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please Enter a Location!</div>
          </div>
        </div>
        <div class="mb-2">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= listing.country %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter Country name!</div>
        </div>

        <button class="btn btn-success">Update Changes</button>
      </form>
    </div>
  </div>
  <script src="/js/validate.js"></script>
</body>
